<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Monitor</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: left;    
        }
        </style>
</head>
<body>
<p> Docker Monitor </p>
<br>
    {%block monitor%}

    <table  style="width:100%">
        <tr>
            <th>Container Name</th>
            <th>started at</th>
            <th>State</th>
            <th>ram</th>
            <th>CPU</th>
        </tr>
        {% for i in container_list %}
        <tr>
            <td>{{ i['container_name'] }}</td>
            <td>{{ i['started_at'] }}</td>
            <td>{{ i['status'] }}</td>
            <td> {{ i['ram']}} </td>
            <td>{{ i['cpu'] }} </td>
        </tr>
        {%endfor%}
    </table>

    {%endblock%}

    {% block result %}
    {{result}}
    {%endblock%}


</body>
</html>